@model IEnumerable<Przychodnia.Models.Wizyta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wizyty</h2>

<p>
   @if (User.IsInRole("Pacjent")) {
       @Html.ActionLink("Rezerwacja wizyty", "Create", new { @class = "btn btn-default" })}
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Czas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lekarz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RodzajWizyty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Czas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lekarz.Nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RodzajWizyty)
        </td>
        <td>

            @if (User.IsInRole("Pacjent"))
            {
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ID }, new { @class = "btn btn-default" })
                @Html.ActionLink("Usuń", "Delete", new { id = item.ID }, new { @class = "btn btn-default" })
            }
            @Html.ActionLink("Szczegóły", "Details", new { id = item.ID }, new { @class = "btn btn-default" })

        </td>
    </tr>
}

</table>
